# Variabel & Tipe Data

## Variabel

**Variables**: Lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.
Syarat-syarat penamaan variabel
1. Karakter-karakter yang digunakan untuk penamaan variable adalah alphabet, angka, dan underscore.
2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka.
3. Nama sebuah variable tidak bisa menggunakan keyword atau reserved words dari bahasa phyton seperti for, if, dan lainnya
4. Karakter pada nama variable bersifat sensitif (case-sensitif).

In [11]:
# membuat variabel
kalimat ='ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [12]:
# menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)

ini adalah variabel
4
2.5

**Latihan 1**

In [30]:
# membuat variable
kalimat ='ini adalah variabel novyan'
bilangan5 = 28
bilangan6 = 11
bilangan7 = True
bilangan8 = 2j + 2

In [22]:
# menampilkan variable
print(kalimat)
print(bilangan5)
print(bilangan6)

ini adalah variabel novyan
28
11

## Tipe Data

5 tipe data yaitu
1. Integer atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean  yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [19]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'complex'>

**Latihan 2**

In [23]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan5))
print(type(bilangan6))
print(type(bilangan7))
print(type(bilangan8))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'complex'>

## Konversi Tipe Data

Syntax Konversi tipe data
1. Integer = int()
2. Float = float()
3. String = str()
4. Boolean = boll()
5. Complex = Complex()

In [24]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

11
1

In [26]:
# konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

28.0
1.0

In [27]:
# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

28
11
True

In [28]:
# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [29]:
# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(28+0j)
(11+0j)
(1+0j)

**Latihan 3**

In [31]:
# konversi tipe data integer
print(int(bilangan6))
print(int(bilangan7))

11
1

In [32]:
# konversi tipe data float
print(float(bilangan5))
print(float(bilangan7))

28.0
1.0

In [33]:
# konversi tipe data string
print(str(bilangan5))
print(str(bilangan6))
print(str(bilangan7))

28
11
True

In [34]:
# konversi tipe data bool
print(bool(bilangan5))
print(bool(bilangan6))

True
True

In [35]:
# konversi tipe data complex
print(complex(bilangan5))
print(complex(bilangan6))
print(complex(bilangan7))

(28+0j)
(11+0j)
(1+0j)