# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [1]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
#Menampilkan tipe struktur data
type(T1)

tuple

**Latihan**

In [13]:
#Buatlah Tuplemu sendiri
T5 = (28, "sebelas", True, 20+2j)
print("ini adalah tuple saya", T5)

ini adalah tuple saya (28, 'sebelas', True, (20+2j))

In [14]:
#Menampilkan tipe struktur data
type(T5)

tuple

**Sifat-sifat Tuple**

In [7]:
#Terururt/Ordered
T1[0:3]

(1, 'dua', True)

In [8]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [9]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [10]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

**Menggabungkan Tuple**

In [11]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**Latihan 2**

In [16]:
#Buatlah Tuple kedua lalu gabungkan 2 Tuple yang telah kamu buat

T6 = (5, "tujuh", True, 19+99j)
print("ini adalah tuple kedua saya", T6)

ini adalah tuple kedua saya (5, 'tujuh', True, (19+99j))

In [17]:
T7 = T5 + T6
T7

(28, 'sebelas', True, (20+2j), 5, 'tujuh', True, (19+99j))