# Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a.   `list()` : untuk mengubah menjadi list

b.  `tuple()` : untuk mengubah menjadi tuple

c. `set()` : untuk mengubah menjadi set

d. `dict()` : untuk mengubah menjadi dictionary

# Mengkonversi tipe data list:

In [1]:
# Membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [4]:
# Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))
# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi tipe data tuple:

In [5]:
# Membuat dua tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [9]:
# Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))
# Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi tipe data set:

In [10]:
# Membuat dua set
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [11]:
# Mengkonversi struktur data set
k_list = list(S1)
k_set = set(S2)
k_dict = dict(zip(S1, S2))
# Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 8, 2: 5, 3: 6, 4: 7}

# Mengkonversi tipe data list:

In [14]:
# Membuat dictionary
D = {
    "nama": "Andi",
    "alamat": "Yogyakarta",
     "umur": 20
}

In [15]:
# Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'nama', 'umur', 'alamat'}

# Latihan

In [ ]:
# Lakukan konversi struktur data yang kalian buat pada notebook-notebook
# sebelumnya menjadi list, tuple, set, dan dictionary (masing-masing satu)

### Mengkonversi tipe data List

In [4]:
# Membuat 2 list
L3 = [28, 11, 20, 2]
L4 = ["N","Novyan Priseyani",28]

In [2]:
# Mengkonversi struktur data list
k_tuple = tuple(L3)
k_set = set(L4)
k_dict = dict(zip(L3, L4))
# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(28, 11, 20, 2)
{'N', 'Novyan Priseyani', 28}
{28: 'N', 11: 'Novyan Priseyani', 20: 28}

### Mengkonversi tipe data Tuple

In [6]:
# Membuat dua tuple
T5 = (28, "sebelas", True, 20+2j)
T6 = (5, "tujuh", True, 19+99j)

In [7]:
# Mengkonversi struktur data tuple
k_list = list(T5)
k_set = set(T6)
k_dict = dict(zip(T5, T6))
# Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[28, 'sebelas', True, (20+2j)]
{True, 'tujuh', (19+99j), 5}
{28: 5, 'sebelas': 'tujuh', True: True, (20+2j): (19+99j)}

### Mengkonversi tipe data Set

In [8]:
# Membuat dua set
S2 = {6, "tiga", False, 8+6j}
S3 = {9, 8, 7, 6}

In [9]:
# Mengkonversi struktur data set
k_list = list(S2)
k_set = set(S3)
k_dict = dict(zip(S2, S3))
# Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[False, 'tiga', 6, (8+6j)]
{8, 9, 6, 7}
{False: 8, 'tiga': 9, 6: 6, (8+6j): 7}

### Mengkonversi tipe data Dictionary

In [12]:
# Membuat dictionary
D = {
    "nama": "Novyan Priseyani",
    "alamat": "Madiun",
     "umur": 19
}

In [13]:
# Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Novyan Priseyani', 'Madiun', 19)
{'umur', 'alamat', 'nama'}